<div></div>
<% @posts.each do |post| %>
<div class ="container">
   <div class="card mb-3 mt-4">
     <div class="row ">
        <% post.images.each_with_index do |image, index| %>
          <% break if index > 1  %>
          <div class="col">
            <%if post.images.present? %>
              <% if post.images.attached? %>
                <%= image_tag image,class: "w-100", style: "height: 300px;object-fit:cover;" %>
              <% end %>
            <% else %>
              <%= image_tag "no_images.png",class: "w-100", style: "height: 300px;object-fit:cover;" %>
            <% end %>
          </div>
        <% end %>
      </div>
        <div class="card-body">
          <h5 class="card-title"><%=link_to post.title,post_path(post.id),style: "color: black;" %></h5>
            <p class="card-text"><%= post.content %></p>
            <p class="card-text">
              <small class="text-muted">
                <%= link_to "#{post.comments.count}コメント",post_path(post.id) %>
                <% if user_signed_in? %>
                  <% if post.favoried_by?(current_user) %>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                  ♥<%= post.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(post), method: :post do %>
                  ♡<%= post.favorites.count %> いいね
                  <% end %>
                  <% end %>
                <% end %>
              </small>
            </p>
        </div>
    </div>
</div>
<% end %>
