<h1>Member::Posts#new</h1>
<p>Find me in app/views/member/posts/new.html.erb</p>

<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1>投稿ページ</h1>
    </div>
<%= form_with model:@posts,url: posts_path  do |f| %>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>タイトル</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= f.text_area :title %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>投稿内容</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= f.text_area :content %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
       <h4>画像</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= f.submit '投稿',class:"btn btn-success" %>
    </div>
  </div>
<% end %>
</div>
