<div class = "container">
      <div class="card mt-5" style="width: auto;">
          <div class="row">
            <div class= "col">
              <div class="slider">
                <% @post.images.each do |image| %>
                  <%= image_tag image,class: "show-img" %>
                <% end %>
              </div>
            </div>
          </div>
        <div class="card-body">
          <h5 class="card-title">
            <% if @post.user == current_user %>
              <%= link_to @post.title,edit_post_path(@post.id),style: "color: black;" %>
            <% else %>
              <td><%= @post.title%></td>
            <% end %>
          </h5>
          <p class="card-text"><%=@post.content%></p>
        </div>
        <div class = "row">
          <div class = "col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <% if @post.favoried_by?(current_user) %>
                  <%= link_to post_favorites_path(@post),style: "color: red;", method: :delete do %>
                  ♥<%= @post.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(@post),style: "color: red;", method: :post do %>
                  ♡<%= @post.favorites.count %> いいね
                  <% end %>
                <% end %>
                <% if @post.user == current_user %>
                  <td><%= link_to"投稿内容を編集する",edit_post_path(@post.id),class: "float-right",style: "color: black;" %></td>
                <% else %>
                  <td></td>
                <% end %>
            </li>
          </div>
          </div>
            <li class="list-group-item">
              <%= form_with model:[@post,@comment] do |f| %>
              <div class = "col">
                <%= f.text_area :content,size:'60',placeholder:"コメントする" %>
                <%= f.submit "コメント投稿" %>
                <% end %>
              </div>
            </li>
        </ul>
    <div class="card-body">
      <i href="#" class="card-link">
        <% @post.comments.each do |comment| %>
        <div class = "row">
          <div class = "col">
            <%= link_to post_comment_path(@post.id, comment.id)  do %>
              <%= image_tag comment.user.get_profile_image(50,50) %>
            <% end %>
          </div>
          <div class = "col">
            <%= comment.user.name %>
          </div>
          <div class = "col">
            <%= comment.content %>
          </div>
        </div>
        <% end %>
      </i>
    </div>
  </div>
</div>