<div class ="container">
  <div class = "row">
    <div class = "col">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <% @posts.each do |post| %>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">プロフィール写真</th>
      <th scope="col">ユーザーネーム</th>
      <th scope="col">タイトル</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
         <% if post.images.attached? %>
            <%= image_tag post.images[0].variant(resize: '100x100'),class: "w-100" %>
          <% else %>
            <%= image_tag "no_images.png",class: "w-100" %>
          <% end %>
      </th>
      <td><%= link_to post.user.name,admin_post_path(post.id) %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
    </tr>
  </tbody>
</table>
<% end %>
</div>