<% if user_signed_in? %>
  <nav class="navbar navbar-dark bg-dark">
  <%= link_to root_path do %>
    <i class="navbar-brand fa-regular fa-bowl-chopsticks">デカ盛り食堂</i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <i class="nav-link" href="#"> <%= link_to "TOP",root_path %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link" href="#"><%= link_to "一覧",posts_path %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link " href="#"><%= link_to "投稿",new_post_path %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link " href="#"><%= link_to "マイページ", user_path(current_user.id) %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link " href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><span class="sr-only">(current)</span></i>
      </li>
    </ul>
      <%= form_with url: search_path, method: :get do %>
        <%= text_field_tag :search, params[:search], class: "form-control", id: "search_area", placeholder: "タイトルを入力"%>
        <%= submit_tag '検索' %>
      <% end %>
  </div>
</nav>
<% else %>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">デカ盛り食堂</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <i class="nav-link" href="#"> <%= link_to "TOP",root_path %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link" href="#"><%= link_to "新規登録", new_user_registration_path %><span class="sr-only">(current)</span></i>
      </li>
      <li class="nav-item">
        <i class="nav-link " href="#"><%= link_to "ログイン", new_user_session_path %><span class="sr-only">(current)</span></i>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>
<% end %>
